<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
    
    <title>BLAMSH</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav__logo-burger" id="burger-div">
                <a href=""></a><i class="fa-solid fa-bars fa-lg" id="burger-menu" style="color: #64676d;"></i> </a>
                <a href=""><p>BLAMSH</p></a>
            </div>

            <div class="nav__generos">
                <ul class="generos__genders">
                    <li class='genders' id="genero-hombre"><a class="genders__a" href="#">Hombre <i class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
                    <li class='genders' id="genero-mujer"><a class="genders__a" href="#">Mujer <i class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
                </ul>
            </div>

            <div class="nav__opciones">      
                <div class="opciones__lupa"><input type="text"><a href=""><i class="fa-solid fa-magnifying-glass fa-l" style="color: #eaeaeb;"></i></a></div>
                <div class="opciones__carrito"><a href=""><span>Carrito</span><i class="fa-sharp fa-solid fa-basket-shopping fa-l" style="color: #eaeaeb;"></i></a></div>
                <div class="opciones__user"><a href=""><span>Iniciar Sesion</span><i class="fa-regular fa-circle-user fa-l"></i></a></div>
            </div>
           
            <div class="hidden-catalog" id="hidden-catalog">
                <div class="inner-catalog">
                    <ul>
                        <li><a href="">Todos los productos</a></li>
                        <li><a href="">Remeras</a></li>
                        <li><a href="">Camisas</a></li>
                        <li><a href="">Outdoors</a></li>
                        <li><a href="">Buzos y sweaters</a></li>
                        <li><a href="">Calzado</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

   
    <main>
      
    </main>

    <script src="../public/js/catalog.js"></script>
    
    <footer>
        <h3>BLAMSH</h3>
        <ul class="footer__ayuda">
            <li><a href="">Nosotros</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Devoluciones</a></li>
            <li><a href="">Seguimiento</a></li>
            <li><a href="">Contacto</a></li>
        </ul>

        <div class="footer__redes">
            <ul>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-facebook fa-xl" style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-instagram  fa-xl"  style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-twitter fa-xl"  style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-youtube fa-xl"  style="color: #3e3f41;"></i></a></li>
            </ul>
        </div >
        
        <div class='footer__avisos-condiciones'>
            <ul class="avisos-condiciones__opciones">
                <li><a href=""> 2023 Blamsh |</a></li>
                <li><a href="">Aviso legal |</a></li>
                <li><a href="">Coockies |</a></li>
                <li><a href="">Terminos y condiciones |</a></li>
                <li><a href="">Mapa web</a></li>
            </ul> 
        </div>

    </footer>
</body>
</html>