*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer{
    height: 600px;
    width: 100%;
    display: flex;
    background-color: black;
}

@media(min-width:300px){
    
    footer{
        height: 400px;
        padding-top:20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

   footer h3{
        text-align: center;
        font-family:  'Fira Sans', sans-serif;
        letter-spacing: 3px;
        display: block;
        width: 100%;
        background-color: rgb(41, 40, 40);
    }

    .footer__ayuda{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .footer__ayuda li a, .avisos-condiciones__opciones a{
        color:grey;
        font-size: 12px;
    }

    .footer__redes{
        height: 10%;
        width: 100%;
    }

    .footer__redes ul{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;      
    }

    .redes__li{
        display: flex;
        align-items: center;
        justify-content: center;
        width:20%;
    }

    .redes__li .redesli__a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(126, 126, 128);
        height: 100%;
        width: 50%;
        border-radius: 60%;
        border: 1px solid rgb(72, 71, 71);
    }

    .footer__avisos-condiciones{
        display: flex;
        width: 95%;
        height: 10%;
        align-items: center;
        justify-content: center;
    }
    
    .avisos-condiciones__opciones{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        align-items: center;
        justify-content: center;
    }

}


@media(min-width:720px){
   footer{
    height: auto;
    gap:30px;
   }
    footer h3{
        font-size: 30px;
    }

    .footer__ayuda li a, .avisos-condiciones__opciones a{
        font-size: 12px;
    }
   
    .footer__ayuda li a:hover, .avisos-condiciones__opciones a:hover{
        color:aliceblue;
    }

    .footer__ayuda ul{
        height: 160px;
    }

    .footer__ayuda li{
        height:30px;
    }

    .footer__redes a:hover{
        background-color: aliceblue;
    }

    .footer__redes{
        height: 40px;   
    }

    .redes__li{  
        width:5%;
    }

    .redes__li .redesli__a{
        height: 90%;
        width: 40%;
    }
}