*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --background: #000000;
    --font-header: 'Roboto', sans-serif;
    --font-size_genders: 15px;
    --font-size_logo:20px;
    --font-colour-p__logo: whitesmoke;
  }

body{
    background-color: var(--background);
    color:var(--font-colour-p__logo);
}

p,a{
    color: whitesmoke;
}

header{
    display: flex;
    font-family: var(--font-header);
    background-color: var( --background);

}

li,a{
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
}

.nav__logo-burger{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-size_logo);
}

.generos__genders{
    display: flex;
    width: 100%;
    font-size:  var( --font-size_genders);
}

.hidden-catalog{
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.5s ease;
    order:4;
    z-index: 1;
}

.hidden-catalog.active {
    max-height: 500px;
    width: 100%;
    flex-direction: row;
    display: flex;
    
   
    /* Cambia el valor a la altura deseada */
  }

.hidden-catalog ul{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

.hidden-catalog .inner-catalog{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

.hidden-catalog  li{
    border : 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/*MOBILE*/

@media(min-width:300px ){

    header{
        height: 100px;
        
    }

    nav{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
   }

   .nav__logo-burger{
        height: 60%;
        width: 40%;
        justify-content:left;
        gap:10%;
   }

   .fa-bars.active{
        transform: (1.2);
        transition: 1s;
   }

   .nav__opciones{
        display: flex;
        align-items: center;
        justify-content: end;
        gap:20px;
        padding-right: 10px;
        width: 60%;
        order:2;
   }

   .nav__opciones span,input{
        display: none;
   }

   .nav__generos{
        display: flex;
        width: 100%;
        height: 40px;
        background-color: rgb(53, 52, 52);    
        align-items: center;
        order:3;
   }
  
    .generos__genders, .generos__genders .genders{
        width: 100%;
        height: 100%;
        border:solid 1px rgb(44, 43, 43);      
    }

    .genders a{
        display: flex;
        width: 100%;
        height: 100%;
        gap:10px;
        align-items: center;
        justify-content: center;
        font-size: 16px; 
    }

    .genders a .fa-caret-down {
        visibility: hidden;
    }

   .inner-catalog{
        width: 100%;
   }

    .hidden-catalog ul{
        flex-direction: column;
        height: 400px;
        width: 50%;
        background-color: #221703;
        border:1px solid black;
    }

    .hidden-catalog ul li{
        height: 25%;
        width: 100%;
        border:1px solid rgb(67, 66, 66);  
    }
}
      /**DESKTOP*/
@media(min-width:720px){
   
   header{
        height: 60px;
   }

    nav{
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: end; 
    }

    .nav__logo-burger{
        width: 40%;
    }

   .nav__logo-burger a p{
        font-size: 30px;
   }

   .nav__logo-burger .fa-bars{
        display: none;
    }
    
    .nav__generos{
        background-color: black;
        border:none;
        width: 20%;
        height: 100%;
        order:2;
       
    }

    .generos__genders, .generos__genders .genders{
        border:none;
    }

    .genders a .fa-caret-down {
        visibility:visible;
    }

    .nav__opciones{
        width: 40%;
        justify-content: flex-start;
        gap:40px;
        order:3;   
    }
    
    .nav__opciones span{
        display: inline;
    }

    .opciones__lupa {
        display: flex;
        align-items: center;
        width: 40%;
    }

    .opciones__lupa input{
        display: block;
        height: 22px;
        width: 60%;
        border-radius: 10px;
        font-family:--font-header;
        font-weight: bold;
        font-size: 15px;
        text-indent: 20px;
        background-color: #b0afaf;
        transition: 1s;
    }

    .opciones__lupa input:hover{
        width: 80%;
        transition: 1s;
    }

    .opciones__lupa,.opciones__carrito a, .opciones__user a{
        display: flex;
        gap:10px;
        align-items: center;
        font-weight: bold;
    }

    .nav__opciones a:hover ,.nav__logo-burger a p:hover{
        background: rgb(123, 94, 123);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    

    .hidden-catalog .inner-catalog{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

    .hidden-catalog ul{
        flex-direction: row;
        align-items: center;
        height: 300px;
        width: 100%;
        border:1px solid black;
    }

    .hidden-catalog ul li{
        height: 100%;
        width: 16.7%;
        display: flex;
        align-items: center;
        border : 1px solid rgba(0, 0, 0, 0.689);
        background-color: #221703;
        
        justify-content: center;
    }
    
      .hidden-catalog  li a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
    }

    .hidden-catalog  li a:hover{
        transform: scale(1.2);
        transition: 0.5s;
        
    }

    .hidden-catalog ul li:hover{
        background-color:#3b2805;
        transition: 1s;
    }

    p,a{
        font-size: 16px;
    }
}