<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/main-register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../public/css/footer.css">
    <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
   
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav__logo-burger" id="burger-div">
                <a href=""></a><i class="fa-solid fa-bars fa-lg" id="burger-menu" style="color: #64676d;"></i> </a>
                <a href="../index.html"><p>BLAMSH</p></a>
            </div>

            <div class="nav__generos">
                <ul class="generos__genders">
                    <li class='genders' id="genero-hombre"><a class="genders__a" href="#">Hombre <i class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
                    <li class='genders' id="genero-mujer"><a class="genders__a" href="#">Mujer <i class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
                </ul>
            </div>

            <div class="nav__opciones">      
                <div class="opciones__lupa"><input type="text"><a href=""><i class="fa-solid fa-magnifying-glass fa-l" style="color: #eaeaeb;"></i></a></div>
                <div class="opciones__carrito"><a href=""><span>Carrito</span><i class="fa-sharp fa-solid fa-basket-shopping fa-l" style="color: #eaeaeb;"></i></a></div>
                <div class="opciones__user"><a href=""><span>Iniciar Sesion</span><i class="fa-regular fa-circle-user fa-l"></i></a></div>
            </div>
           
            <div class="hidden-catalog" id="hidden-catalog">
                <div class="inner-catalog">
                    <ul>
                        <li><a href="">Todos los productos</a></li>
                        <li><a href="">Remeras</a></li>
                        <li><a href="">Camisas</a></li>
                        <li><a href="">Outdoors</a></li>
                        <li><a href="">Buzos y sweaters</a></li>
                        <li><a href="">Calzado</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <main>
        <section class="main__section-photo">
            <img src="../../public/images/img-register/register__main-background.jpg" alt="none">
            
        </section>

        <section class="main__section-register">
            <div class="section-register__grid">
                <div class="section-register__titulos">
                    <h2>UNITE A LA COMUNIDAD BLAMSH</h2>
                    <h3>Empeza a disfrutar de estos beneficios:</h3>
                </div>
                <ul>
                    <li><i class="fa fa-light fa-truck-fast fa-xl" style="color: #a09b9b;"></i><p>Consulta en el historial el estado de todos tus pedidos</p></li>
                    <li><i class="fa-sharp fa-solid fa-hand-holding-dollar fa-xl" style="color: #a09b9b;"></i><p>Llevate un 10% de descuento adicional en tu proximo pedido</p></li>
                    <li> <i class="fa fa-light fa-gift fa-xl" style="color: #a09b9b;"></i> <p>Recibi descuentos especiales y enterate de las ultimas novedades: 100% contenido 0% spam</p></li>
                    <li><i class="fa fa-light fa-circle-user fa-xl" style="color: #a09b9b;"></i><p>Recibi descuentos especiales y enterate de las ultimas novedades: 100% contenido 0% spam</p></li>
                </ul>
            </div>
        </div>

               <div class="section__form-register">
                    

                    <form action="/enviar" method="post" class="form-register__form">
                        
                       
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido">
                        
                       
                        <input type="email" id="email" name="email" required placeholder="Correo electronico">
                        
                        
                        <input type="telefono" name="phone-number" id="telefono" placeholder="Telefono">
                        
                       
                        <input type="password" name="password" id="contraseña" placeholder="Ingresar contraseña">

                        
                        <input type="repeat-password" name="repeat-password" id="repeat-password" placeholder="Ingresar nueva contraseña">
                        
                        <div class="form__checkbox-container">
                            <input type="checkbox" id="opcion1" name="opcion1" value="opcion1" class="form__checkbox">
                            <label class="form_label-checkbox" for="opcion1">Acepto la Política de Privacidad y los Términos de Uso de Blamsh.</label>
                            
                        </div>
                        <div class="form__checkbox-container">
                            <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
                            <label class='form_label-checkbox'id="opcion1">Acepto recibir comunicaciones de Blamsh</label>
                        </div>
                        <input type="submit" value="Unite a BLAMSH" class="form__enviar">
                    </form>
               </div>

        </section>
    </main>
    <footer>
        <h3>BLAMSH</h3>
        <ul class="footer__ayuda">
            <li><a href="">Nosotros</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Devoluciones</a></li>
            <li><a href="">Seguimiento</a></li>
            <li><a href="">Contacto</a></li>
        </ul>

        <div class="footer__redes">
            <ul>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-facebook fa-xl" style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-instagram  fa-xl"  style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-twitter fa-xl"  style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-youtube fa-xl"  style="color: #3e3f41;"></i></a></li>
            </ul>
        </div >
        
        <div class='footer__avisos-condiciones'>
            <ul class="avisos-condiciones__opciones">
                <li><a href=""> 2023 Blamsh |</a></li>
                <li><a href="">Aviso legal |</a></li>
                <li><a href="">Coockies |</a></li>
                <li><a href="">Terminos y condiciones |</a></li>
                <li><a href="">Mapa web</a></li>
            </ul> 
        </div>

    </footer>
    <script src="../../public/js/catalog.js"></script>
</body>
</html>